.st-emotion-cache-hk58ed.e1xss9yb0 {
    color: #ff1493 !important; 
}
a{
    color: green !important;
    font-style: italic !important;
    text-decoration: none !important;
}

.light_link{
    color: #ff1493 !important;
    font-style: italic !important;
    text-decoration: none !important;
}
.st-emotion-cache-m2qe7r.em9zgd02:hover {
    color: green !important;  
    border-color: green !important;  
}
.st-emotion-cache-qsto9u.em9zgd02:hover{
    color:  #ff1493 !important;  
    border-color:  #ff1493 !important; 
}
.st-emotion-cache-qsto9u.em9zgd02:active{
    background-color: #ff1493 !important;
    color:  #ff1493 !important;  
    border-color:  #ff1493 !important; 
}
.st-emotion-cache-qsto9u.em9zgd02:focus{
    color:  #ff1493 !important;  
    border-color:  #ff1493 !important; 
}
.st-emotion-cache-m2qe7r.em9zgd02:active{
    background-color: green !important;
    color: green !important;  
    border-color: green !important;  
}
.st-emotion-cache-m2qe7r.em9zgd02:focus{
    color: green !important;  
    border-color: green !important; 
}
h1{
    font-size: 32px !important;
}

h3{
    font-size: 24px !important;
}
[data-theme="light"] a {
    color: #ff1493 !important;          /* Bright pink */
    text-decoration: none !important;   /* Optional: removes underline */
}
.st-am.st-bu.st-ao.st-ap.st-aq.st-ar.st-af.st-as.st-at.st-aj.st-au.st-av.st-aw.st-ax.st-ay.st-az.st-b0{
    background: green !important;
}