.st-emotion-cache-hk58ed.e1rzn78k0 {
    color: #C64962 !important; 
}
.st-emotion-cache-19n5hxt.e1rzn78k0{
    color: #C64962 !important; 
}
a{
    color: #C64962 !important;
    font-style: italic !important;
    text-decoration: none !important;
}
a.em9zgd02{
    color: #C64962 !important;
    font-style: italic !important;
    text-decoration: none !important;
}

.light_link{
    color: #C64962 !important;
    font-style: italic !important;
    text-decoration: none !important;
}
button{
    color: #C64962 !important;
    width: 120px !important;
    border: 0px !important;
    font-size: 18px !important;
    background-color: transparent !important;
}
button:hover{
    color: #C64962 !important;  
    border-color: #C64962 !important; 
}
button:active{
    background-color: #C64962 !important;
    color: #C64962 !important;  
    border-color: #C64962 !important;
}
button:focus{
    color: #C64962 !important;  
    border-color: #C64962 !important; 
    outline-color: #C64962 !important;
}
h1{
    font-size: 32px !important;
}

h3{
    font-size: 24px !important;
}
.st-am.st-cf.st-ao.st-ap.st-aq.st-ar.st-af.st-as.st-at.st-aj.st-au.st-av.st-aw.st-ax.st-ay.st-az.st-b0{
    background: #C64962 !important;
}
.st-emotion-cache-b0y9n5.em9zgd02{
    color: #C64962 !important;  
    border-color: #C64962 !important; 
}
.st-emotion-cache-ocsh0s.em9zgd02{
    color: #C64962 !important;  
    border-color: #C64962 !important; 
}

